section {
  height: 100vh;
}

.event {
  background-color: crimson;
  width: 30vw;
  height: 20rem;
  padding: 0.2rem;
  margin: 0.3rem;
  float: left;
}

.evThumb {
  color: hsl(0, 0%, 80%);
  
}

#slider {
  padding-top: 1rem;
}